<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackstreet Boys</title>
    <link rel="icon" type="image/x-icon" href="../public/img/KainosFavicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="../public/img/KainosLogo.png" alt="Kainos" width="350" height="100" style="float: right; vertical-align: middle; padding: .5em;">
                <h1 style="padding-top: 1.5rem;">Hackstreet Boys Project</h1>
            </div>
        </div>
    </div>
</header>