<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Hackstreet Boys</title>
    <link rel="icon" type="image/x-icon" href="/public/img/KainosFavicon.png">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e3e17c26cb.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar fixed-top text-light">
        <div class="nav-container container justify-content-start">
            <a class="navbar-brand" href="/">
                <img src="/public/img/KainosLogo.png" alt="Kainos" width="175">
            </a>
            <h2 class="pt-3 mx-3">Hackstreet Boys Project</h2>
        </div>
    </nav>
</header>
<main class="main flex-shrink-0">