{% include "./includes/header.html" %}
<main>
    <div>
        <h2>Welcome to the Hackstreet Boys Project</h2>
    </div>
    <div>
        <h4 style="text-align: center;">On this page we have links to all the working features we have made so far</h4>
        <h4 style="text-align: center;">The contents of this ppage can be altered to you're preferences</h4>
    </div>
    <div>
        <a class="btn btn-primary" href="job-roles" style="background-color: #0072ed" role="button">View Job Roles</a></td>
        <a class="btn btn-primary" href="capability" style="background-color: #0072ed" role="button">View Capabilities</a></td>
    </div>
</main>
{% include "./includes/footer.html" %}