<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job Family</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Add Job Family</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="form" class="bg-light py-5">
            <div class="container">
                <p>Enter Job Family details</p>
                {% if errormessage %}
                <div class="alert alert-danger" role="alert">
                    {{ errormessage }}
                </div>
                {% endif %}
                <form action="/new-job-family" method="post">
                    <div class="form-group">
                        <label for="capability">Capability:</label>
                        <select class="form-select" name="capabilityId" id="capabilityId">
                            <option selected value="">Please choose a capability</option>
                            {% for jobfamily in jobfamilies %}
                            <option value="{{ jobfamily.capabilityId }}">{{ jobfamily.capabilityName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Name">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" value="{{ name }}" required>
                    </div>
                    <div class="form-group">
                    <p><button type="submit" class="btn btn-primary">Submit</button></p>
                </form>
            </div>
        </section>
    </main>
</body>
</html>