{% include "./includes/header.html" %}
<main class="container mt-4">
    <section id="orders" class="mt-4">
        <h2>Competencies</h2>
        {% if competencies and competencies.length > 0 %}
        <table class="table">
            <thread>
                <tr>
                    <th scope="col">Competency Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Band Name</th>
                </tr>
            </thread>
            <tbody>
                {% for comp in competencies %}
                <tr>
                    <td>{{ comp.competencyName }}</td>
                    <td>{{ comp.description }}</td>
                    <td>{{ comp.bandName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        There are no Competencies.
        {% endif %}
    </section>
</main>
{% include "./includes/footer.html" %}