<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capabilities</title>
    <link rel="icon" type="image/x-icon" href="../public/img/KainosFavicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="../public/img/KainosLogo.png" alt="Kainos" width="350" height="100" style="float: right; vertical-align: middle; padding: .5em;">
                <h1 style="padding-top: 1.5rem;">Capabilities</h1>
            </div>
        </div>
    </div>
</header>
<main class="container mt-4">
    <section id="job-roles" class="mt-4">
        <h2>Capabilities</h2>
        {% if capabilities and capabilities.length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Capabilities</th>
                <th scope="col">More Info</th>
            </tr>
            </thead>
            <tbody>
            {% for capability in capabilities %}
            <tr>
                <td> {{capability.name}}</td>
                <td><a class="btn btn-primary" href="{{capability.link}}" style="background-color: #0072ed" role="button">Link</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        There are no Capabilities.
        {% endif %}
    </section>
</main>
<footer class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 style="padding-top: .5rem; text-align: right;">&copy Hackstreet Boys</h2>
            </div>
        </div>
    </div>
</footer>
</body>
</html>