{% include "./includes/header.html" %}
<main class="container mt-4">
    <section id="job-roles" class="mt-4">
        <h2>Job Roles</h2>
        {% if jobroles and jobroles.length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Capability</th>
            </tr>
            </thead>
            <tbody>
            {% for jobrole in jobroles %}
            <tr>
                <td> {{jobrole.roleTitle}}</td>
                <td> {{jobrole.capabilityName}}</td>
                <td><a class="btn btn-primary" href="{{jobrole.link}}" style="background-color: #0072ed" role="button">Link</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        There are no job roles
        {% endif %}
    </section>
</main>
{% include "./includes/footer.html" %}