{% include "./includes/header.html" %}
<div class="container mt-4">
    <section id="job-roles" class="mt-4">
        <h2>Capabilities</h2>
        {% if capabilities and capabilities.length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Capabilities</th>
                <th scope="col">More Info</th>
            </tr>
            </thead>
            <tbody>
            {% for capability in capabilities %}
            <tr>
                <td> {{capability.name}}</td>
                <td><a class="btn btn-primary" href="{{capability.link}}" style="background-color: #0072ed" role="button">Link</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        There are no Capabilities.
        {% endif %}
    </section>
</div>
{% include "./includes/footer.html" %}