<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Operation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Big Success!</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="form" class="bg-light py-5">
            <div class="container">
                <p>You just did a thing!</p>
            </div>
        </section>
    </main>
</body>
</html>